@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spark-fade {
    0% {
      opacity: 0.9;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.3);
    }
  }
  
  @keyframes spark-expansion {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
  
  @keyframes flame-flicker {
    0%, 100% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.05) rotate(1deg);
    }
  }
  
  .animate-flame-flicker {
    animation: flame-flicker 1.5s infinite ease-in-out;
  }
  
body {
  cursor: none;
}

.roboto-slab-title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.bungee-tint-heading {
  font-family: "Bungee Tint", sans-serif;
}

.protest-riot-nav {
  font-family: "Protest Riot", sans-serif;
}

.roboto-body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
